<h2>Enter your new product details</h2>
<form method="post" action="/videos/create">
  <label for="title">Title</label>
  <input title="title" placeholder="Your video title goes here">

  <label for="video_url">URL:</label>
  <textarea name="video_url"></textarea>

  <label for="genre">Genre:</label>
  <input name="genre" type="text" placeholder="Your product genre here">
  <input type="submit" value="Create">
</form>