<h2>Enter your new product details</h2>
<form method="post" action="/videos/create">
  <label for="video_name">Title</label>
  <input title="video_name" placeholder="Your video title goes here" name="video_name">

  <label for="url">URL:</label>
  <textarea name="url"></textarea>

  <label for="genre">Genre:</label>
  <input name="genre" type="text" placeholder="Your product genre here">
  <input class="button" type="submit" value="Create">
</form>